@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif!important;
  background-color: white;
}

.catalog-item {
  position: relative;
  padding-top: 0 !important;
  margin-bottom: 75px!important;
}

.catalog-item img {
  width: 100%;
}

.badge-item p {
  margin: 0 !important;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 15%;
  top: 35%;
}
.catalog-item .badge-item {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-weight: bold;
  background-color: #ff7171;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50%;
}

.category-label {
  background-color: #81a9d1;
  box-sizing: border-box;
  height: 32px;
  font-size: 0.9rem;
  padding: 10px 12px 0 12px;
  border-radius: 16px;
  color: #fff;
  margin: 5px 5px 0 0;
  float: left;
}

.catalog-item h2 {
  width: 100%;
  float: left;
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
}

.catalog-item p {
  float: left;
  margin-bottom: 16px;
}

.catalog-item .promo_price {
  float: left;
  font-size: 20px;
  margin-right: 8px;
}

.spanImgSlider {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.spanImgSlider > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.spanImgSlider > div > h2 {
  padding: 20px 0 10px 0;
  width: 100%;
  stop-opacity: unset;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 3em;
  text-shadow: #000 2px 3px 2px;
}

.spanImgSlider > div > p {
  padding: 10px 0 20px 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 2em;
  text-shadow: #000 2px 3px 2px;
}

.arrow {
  font-size: 50px;
  font-size: 5em!important;
  color: rgb(255, 255, 255);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.7));
}

.carousel {
  height: 100vh !important;
}

.carousel-button-left {
  background-color: transparent !important;
  border: none;
  margin: 0 25px 0 25px;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  left: 40px;
}

.carousel-button-rigth {
  background-color: transparent !important;
  border: none;
  margin: 0 25px 0 25px;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  right: 40px;
}

.slide-container {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .carouselGrid {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .spanImgSlider > div {
    display: none;
  }
}


