@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&display=swap");

body,
html {
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
}

img {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.5));
}